<h1 align="center" class="search-page-head-title"><%= t('analytical.page-title') %></h1>

<div class="search_box_head head-color-analytics" align="center">
  <div>
    <h2><%= t('analytical.list-box.head-title') %></h2>
  </div>
</div>

<div class="search_box_analytics">

  <div class="search_box_content_analytics">

    <div class="search_box_analytics_list">
      <h3><%= t('analytical.list-box.good-list-title') %></h3>
      <%= list_of_searches(@good_analytics) %>

      <h3><%= t('analytical.list-box.bad-list-title') %></h3>
      <%= list_of_searches(@bad_analytics) %>
    </div>

    <div>
      <p><%= button_to t('analytical.list-box.home-button'), root_path, class: "home button", method: :get %></p>
    </div>

    <div>
      <p>
        <%= button_to t('analytical.list-box.clear-button'), clear_search_analytics_path, class: "clear button",
          method: :get, data: { confirm: t('analytical.list-box.clear-button-confirmation') } %>
      </p>
    </div>

  </div>

</div>
